<!DOCTYPE html>
<html ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>Hello World!</title>

  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="./css/app.css">

</head>

<body>
  <div layout="column">


      <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools" ng-controller="ToolbarCtrl">
          <h3>
            <md-button>
            <span ng-click="goBack()">Go back</span>
            </md-button>
            <md-button>
            <a href="#/">Crab</a>
            </md-button>
            <md-button>
            <a href="#/plan">Plan</a>
            </md-button>
          </h3>
        </div>
      </md-toolbar>

    <md-content class="md-padding">

      <ng-view></ng-view>

    </md-content>
  </div>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="../bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="../bower_components/angular-material/angular-material.min.js"></script>

  <script src="./scripts/app.js"></script>
  <script src="./scripts/services/items.js"></script>
  <script src="./scripts/services/recipes.js"></script>
</body>

</html>
