

  <div layout="row">
    <div flex="50">
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span>Target Items</span>
          <span flex></span>
          <md-button class="md-secondary" ng-click="goals = []">Clear</md-button>
        </h2>
      </md-toolbar>
      <md-content>
        <inventory callback="onChangedGoals()" model="goals"></inventory>
      </md-content>
    </div>
    <div flex="50">
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span>Inventory</span>
          <span flex></span>
          <md-button class="md-secondary" ng-click="inventory = []">Clear</md-button>
        </h2>
      </md-toolbar>
      <md-content>
        <inventory callback="onChangedInventory()" model="inventory"></inventory>
      </md-content>
    </div>
  </div>

  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
        <span>Crafting step</span>
      </h2>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item class="steps md-1-line" layout="row" ng-repeat="step in craftingSteps">
        <div class="md-display-1" flex="initial">{{ step.count }}x</div>
        <div flex>
        <recipe data="step.recipe"></recipe>
      </div>
        <div flex="initial">
        <md-checkbox ng-model="step.autoScale"></md-checkbox>
        <md-button ng-click="completeCraftingStep(step)">Complete</md-button>
        <md-button ng-click="removeCraftingStep(step)">Remove</md-button>
      </div>
      </md-list-item>
    </md-list>
  </md-content>

  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
        <span>Required Items</span>
      </h2>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item class="required-item md-1-line" ng-repeat="required in requiredItems">
        <item-stack sid="required.item.sid" size="required.count"></item-stack>
        <md-button class="md-secondary" ng-click="expandRequired(required, $event)">Expand</md-button>
      </md-list-item>
    </md-list>
  </md-content>

  <md-toolbar class="md-theme-light">
    <h2 class="md-toolbar-tools">
        <span>Other Items</span>
      </h2>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item class="required-item md-1-line" ng-repeat="required in havingItems">
        <item-stack sid="required.item.sid" size="required.count"></item-stack>
      </md-list-item>
    </md-list>
  </md-content>

<!--<div ng-controller="PlanStepsCtrl">-->
<!--</div>-->
<!--<div ng-controller="PlanRequirementCtrl">-->
<!--</div>-->
